/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #083B4C;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* TESTO */
h1 {
    margin: 3rem 0;
    font-size: 5rem;
    text-align: center;
    color: white;
}

#box {
    display: flex;
    flex-wrap: wrap;
}

.square {
    position: relative;
    width: calc((100% / 7) - 2rem );
    aspect-ratio: 1/1;
    margin: 1rem 1rem;
    background-color: #1389B2;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}
